.ms-container {
    background: transparent;
    width: 100%;
}

.ms-selectable {
    background: #ffffff;
    color: #555555;
    float: left;
    width: 45%;
}

.ms-selected {
    background: #ffffff;
    color: #555555;
    float: right;
    width: 45%;
}

.ms-searchbox {
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
    height: 25px;
    width: 98%;
}

.ms-list {
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    height: 200px;
    padding: 0;
    overflow-y: auto;
}

.ms-item {
    border-bottom: 1px #eee solid;
    padding: 2px 10px;
    color: #555;
    font-size: 14px;
    cursor: pointer;
}

.ms-item:hover {
    background-color: grey;
    color: white;
}

.ms-group {
    margin: 0;
    padding: 5px 0px 0px 5px;
    cursor: pointer;
    color: #999;
}