.ms-container {
    background: transparent;
    width: 100%;
}

.ms-selectable {
    background: #ffffff;
    color: #555555;
    float: left;
    width: 45%;
}

.ms-selected {
    background: #ffffff;
    color: #555555;
    float: right;
    width: 45%;
}

.ms-list {
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    height: 200px;
    padding: 0;
    overflow-y: auto;
}

.ms-item {
    border-bottom: 1px #eee solid;
    padding: 2px 10px;
    color: #555;
    font-size: 14px;
}